@charset "utf-8";
html {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}
p{
	text-align: center;
}


/*ベース*/
.transition_base {
    width:200px;
    height:100px;
    background:#fff;
    border:1px solid #f80040;
    transition:1s;
	/*変化にかけるスピード　速さ＝小＞大 s＝秒*/
} 
.transition_base:hover{
    width:300px;
    background:#f80040;
}

/*1　なめらか*/
.transition_1{
    width:200px;
    height:100px;
    background:#fff;
    border:1px solid #f80040;
    transition:background 2s, width 5s, ease 2s;
} 
.transition_1:hover{
    width:300px;
    background:#f80040;
}

/*2　フェードアウト*/
.transition_2{
    width:200px;
    height:100px;
    background:#f80040;
    border:1px solid #f80040;
    transition: opacity 0.8s ease-out;
} 
.transition_2:hover{
	opacity:0;
}

/*3　横に伸びる*/
.transition_3{
    width:200px;
    height:100px;
    background:#f80040;
    border:1px solid #f80040;
    transition: ease 1s;
} 
.transition_3:hover{
    width:500px;
    height: 50px;
    background:#0072ff;
}

/*4　移動*/
.transition_4 {
    width:200px;
    height:100px;
    background:#fff;
    border:1px solid #f80040;
    transition:ease 2s;
} 
.transition_4:hover{
    transform: translate(500px, 0px);
}

/*5　fade out*/
.transition_5 {
    background-color: skyblue;
    width: 200px;
    height: 100px;
    border: 1px solid skyblue;
}
.active_5{
    animation-name:fadeout;
    animation-duration: 5s;
}
@keyframes fadeout{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translate3d(0, -100%, 0);
}
    
}

/*6　fadein right */
.transition_6 {
    background-color: skyblue;
    width: 200px;
    height: 100px;
    border: 1px solid skyblue;
} 
.active_6{
    animation-name:fadein_right;
    animation-duration: 3s;
}
@keyframes fadein_right{
    from{
        opacity: 0;
        transform:translate3d(1000%, 0, 0);
    }
    to{
        opacity: 1;
        transform: none;
}   
}


/*7 fade in left*/

.transition_7 {
    display: inline-block;
    background-color: skyblue;
    border: 1px solid skyblue;
    padding: 40px 40px 20px 10px;
}
.active_7{
    animation-name:fadein_left;
    animation-duration:1s;
}

@keyframes fadein_left{
    from{
        opacity: 0;
        transform:translate3d(-200%, 0, 0);
    }
    to{
        opacity: 1;
        transform: none;
    }   
}

/*マージさえしなければ大丈夫*/



