@charset "utf-8";
html {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	margin: 0;
	padding: 0;
	vertical-align: bottom;

}
p{
	line-height: 1.6;
	font-size: 13px;
}
.transition_1 {
    width:100px;
    height:100px;
    background:#fff;
    border:1px solid #f80040;
    transition:background 2s,width 5s;
	/*変化にかけるスピード　速さ＝小＞大 s＝秒*/
} 
.transition_1:hover{
    width:300px;
    background:#f80040;
}
