@charset "utf-8";
html {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	margin: 0;
	padding: 0;
	vertical-align: bottom;

}
p{
	line-height: 1.6;
	font-size: 13px;
}
section.scene {
	background-size: cover;
	background-repeat: no-repeat;
	background-position:top center;
	position: relative;
}
.sec_1{
	background: url(../images/bg_1.jpg);
}
.sec_2{
	background: url(../images/bg_2.jpg);
}
.sec_3{
	background: url(../images/bg_3.jpg);
}
.sec_4{
	background: url(../images/bg_4.jpg);
}
h2{
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
}
section .text_box{
	position: absolute;
	background-color: rgba(255,255,255,0.5);
	padding: 10px;

}
/* 画像中央揃え */
.sec_1 .title_1 img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	margin: auto;
}
.sec_2 h2.title_2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*.sec_3 .flex_container{
	display: flex;
	align-items: center; /* 縦方向中央揃え
	justify-content: center; /* 横方向中央揃え 
	height: 50%;
}*/
.sec_3 .table-box{
	display: table;
	width: 100%;
	height: 100%;
}
.sec_3 .title_3{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.sec_3 .title_3 img{
	width: 500px;
}
.sec_3 h2{
	position: absolute;
}



/* タブレット～PC*/
@media (min-width: 768px){
	section.scene {
		height: 500px;
	}
	.scene h2{
		font-size:40px;
	}
	.sec_1 .text_box{
		width:500px;
		right: 20px;
		bottom: 20px;
	}
	.sec_2 .text_box{
		top: 50px;
		left: 10px;/* [PC]横スクロールできてしまいます。　width:100%;削除*/
		right: 10px;/* [PC]横スクロールできてしまいます。　width:100%;削除*/
	}
	.sec_3 .text_box{
		width: 400px;
		left: 70px;
		bottom: 70px;
	}
	/*商品リスト float*/
	ul.item_list_f{
			overflow: hidden;
	}
	ul.item_list_f li{
		float: left;
		width: 32%;
		margin: 10px 2% 10px 0;
	}
	ul.item_list_f li:last-child{
		margin-right: 0%;
	}
	/*商品リスト display*/
	ul.item_list_d{
		text-align: center;
	}
	ul.item_list_d li{
		width: 300px;
		display:inline-block;
		margin: 10px;
	}

}

/* スマホ　*/
@media (max-width: 767px) {
	.contents{
		margin:0 5px;/* [SP]左右に5pxずつの空きを作りましょう #4　*/
	}
	section.scene {
		height: 200px;
	}
	section .text_box{
		bottom: 10px;
		margin: 0 5px;/* 簡単なWEBを実現する[レスポンシブ] #2　説明部分に左右に5pxずつ空白を作る */
	}
	ul.item_list_f{
		background-color: #f5f3f3;
	}
	ul.item_list_f li{
		max-width: 300px;
		margin: 0 auto;
	}

}



/*
C:\Users\toma\AppData\Local\SourceTree\app-1.10.23.1
C:\training

4/1
・強さを意識する、下に行ほど強い
・レイアウトから → 細部
・まとめて書くものはまとめる　差分を下に書いていく
・何かわからない事があったら開発者ツールでチェック

4/8
・width:100%;は親要素に対して100％であろうとする。
・paddingは100%とかそんなの関係なくかかる。→だから右に飛び出て余白ができる。
・top,bottom,left,rightは要素を移動させるイメージではなくて、
　左から指定pxのところからはじまる。とかそういうイメージ。
・現在だいたい位置を決めるのは　"float"か"position"　flexboxは要勉強



・ブロック要素 →　margin: 0 auto;
・インライン要素　→　text-align: center;
・親にdisplay:table; 子に　display;table-cell;
・画像のサイズ変えたいときはimgタグにwidtをかける

*/
